html {
  overflow-y: scroll;
}

.grav-lightslider {
  max-width: 45rem;
}

#sb-site, .sb-site-container {
  background-color: transparent !important; // important to override slidebars.min.css
}

body {
  background-image: url("/images/background.jpg");
  background-position: center;
}
